extends common/layout
include common/mixins

block content
    main
        section.hero-section
            .container
                .row
                    .col
                        +hero('homeHero.png', 'Effective growth strategies and a clear execution', null, 'subImage1.svg', 'sabImage2.svg', null, null, 'Digital marketing')
        section.service-agency
            .service-agency-cards-wrapper
                .container
                    .row
                        .col
                            .service-agency-cards
                                h2 Full-Service Agency
                                .service-agency-cards-container
                                    each item in [{"href": '/', "icon": "SearchEngine.svg", "title": "Search Engine Optimization (SEO)", "p": "SEO is a digital marketing activity that helps potential customers quickly find your site using search engines such as Google, Yahoo and so on"}, {"href": '/', "icon": "PayPerClick.svg", "title": `Pay Per Click (PPC)`, "p": "Our agency launches high-impact PPC campaigns to bring a clear and attractive return on investment, using the custom advertising strategies"}, {"href": '/', "icon": "SMM.svg", "title": "Social Media Marketing (SMM)", "p": "Whether your customers are on Facebook, Twitter, Instagram, LinkedIn, or other social platforms, our social media marketing services can help you connect with them"}, {"href": '/', "icon": "DCM.svg", "title": "Digital Content Marketing", "p": "Сontent marketing is the wing of digital marketing that’s all about adding value at every phase of the customer journey"}, {"href": '/', "icon": "DMA.svg", "title": "Digital Marketing Audit", "p": "A marketing audit is an effective tool that allows you to determine and evaluate the effectiveness of company’s marketing efforts."}, {"href": '/', "icon": "EMO.svg", "title": "Email Marketing", "p": "Email marketing is a powerful tool for revenue generation."}]
                                        a.service-agency-cards-item(href=`${item.href}`)
                                            .service-agency-cards-item-elements
                                                .service-agency-cards-item-icon
                                                    img(src=`./img/${item.icon}`)
                                                h4=item.title
                                                p=item.p
                                            p.service-agency-cards-item-cta Learn more
            .service-agency-order
                .service-agency-order-title
                    h3 Ready to start cooperation?
                    img(src=`./img/ReadyToStartImg.svg`)
                .service-agency-order-form
                    .service-agency-order-form-input
                        +textInput('Amount')
                    .service-agency-order-form-btn Order now





