.footer
    .footer-top
        .container
            .row
                .col-sm-6.col-md-4
                    .footer-top-support
                        .logo-container
                            img(src='./img/OrigLogo.svg' alt='Visa')
                            p Marketing support <br> services
                        p
                            | Please contact us to the mail
                            a.logo-container-link(href="mailto:info@example-digital.com")  info@example-digital.com.
                            | We are here to answer any question you have
                .col-sm-6.col-md-4
                    h4 Safe and sound
                    p All Marketing support services L.L.C purchases are secure
                    .footer-top-elements
                        img.footer-top-card(src='./img/Visa.svg' alt='Visa')
                        img.footer-top-card(src='./img/MasterCard.svg' alt='MasterCard')
                    .footer-top-elements
                        img.footer-top-elements-icon(src='./img/Security.svg' alt='Visa')
                        p Secured with SSL
                .col-md-4
                    h4 Contacts
                    .footer-top-elements
                        img.footer-top-elements-icon(src='./img/Mail.svg' alt='Visa')
                        a.footer-top-link(href='mailto:info@example-digital.com') info@example-digital.com.
                    .footer-top-elements
                        img.footer-top-elements-icon(src='./img/Phone.svg' alt='Visa')
                        a.footer-top-link(href='tel:603-555-0123') (603) 555-0123
                    .footer-top-elements
                        img.footer-top-elements-icon(src='./img/Geo.svg' alt='Visa')
                        p HUMAID SULTAN BLDG. Muhaisanah Second 18-0,Dubai, UAE
                    .footer-top-elements
                        img.footer-top-elements-icon(src='./img/Geo.svg' alt='Visa')
                        p Alkhobar 31952, P.o 88234 Saudi Arabia
    .footer-bottom
        .container
            .row
                .col-12.col-md-5
                    .footer-bottom-items
                        a.footer-bottom-link(href='/') Terms of use
                        a.footer-bottom-link(href='/') Privacy Policy
                    p.
                        © Marketing support services L.L.C 2022 All rights reserved
                .col-12.col-md-7
                    p.
                        The website is owned and operated by a Marketing support services L.L.C, registered in dubai, united arab emirates. The company complies in full with the most rigorous aml rules according to strict banking rules, visa and mastercard. The objects of the company are all subject matters not forbidden by international business company rules.
