.header
    .header-sidenav
        ul.header-sidenav-list
            li.header-sidenav-list-item
                a.header-sidenav-list-link.sublist-btn(href='/') Company
                    img(src='./img/menuArrow.svg' alt='arrow')
                ul.header-sidenav-sublist
                    li.header-sidenav-sublist-item
                        a.header-sidenav-sublist-link(href='/') About Us
                    li.header-sidenav-sublist-item
                        a.header-sidenav-sublist-link(href='/') Contact Us
            li.header-sidenav-list-item
                a.header-sidenav-list-link.sublist-btn(href='/') Services
                    img(src='./img/menuArrow.svg' alt='arrow')
                ul.header-sidenav-sublist
                    li.header-sidenav-sublist-item
                        a.header-sidenav-sublist-link(href='/') Search Engine Optimisation (SEO)
                    li.header-sidenav-sublist-item
                        a.header-sidenav-sublist-link(href='/') Pay Per Click (PPC)
                    li.header-sidenav-sublist-item
                        a.header-sidenav-sublist-link(href='/') Social Media Marketing (SMM)
                    li.header-sidenav-sublist-item
                        a.header-sidenav-sublist-link(href='/') Digital Content Marketing
                    li.header-sidenav-sublist-item
                        a.header-sidenav-sublist-link(href='/') Digital Marketing Audit
                    li.header-sidenav-sublist-item
                        a.header-sidenav-sublist-link(href='/') Email Marketing
            li.header-sidenav-list-item
                a.header-sidenav-list-link(href='/') Our Prices
    .container
        .row
            .col
                .header-contanier
                    a.header-logo(href='/')
                            img(src='./img/BlackLogo.svg' alt='Logo')
                            p Marketing support <br> services
                    nav.header-navigation
                        ul.header-navigation-list
                            li.header-navigation-list-item
                                a.header-navigation-list-item-link(href='/') Company
                                    img.header-navigation-list-item-arrow(src='./img/menuArrow.svg' alt='arrow')
                                ul.header-navigation-sublist
                                    li.header-navigation-sublist-item
                                        a.header-navigation-sublist-item-link(href='/') About Us
                                    li.header-navigation-sublist-item
                                        a.header-navigation-sublist-item-link(href='/') Contact Us
                            li.header-navigation-list-item
                                a.header-navigation-list-item-link(href='/') Services
                                    img.header-navigation-list-item-arrow(src='./img/menuArrow.svg' alt='arrow')
                                ul.header-navigation-sublist
                                    li.header-navigation-sublist-item
                                        a.header-navigation-sublist-item-link(href='/') Search Engine Optimisation (SEO)
                                    li.header-navigation-sublist-item
                                        a.header-navigation-sublist-item-link(href='/') Pay Per Click (PPC)
                                    li.header-navigation-sublist-item
                                        a.header-navigation-sublist-item-link(href='/') Social Media Marketing ( SMM)
                                    li.header-navigation-sublist-item
                                        a.header-navigation-sublist-item-link(href='/') Digital Content Marketing
                                    li.header-navigation-sublist-item
                                        a.header-navigation-sublist-item-link(href='/') Digital Marketing Audit
                                    li.header-navigation-sublist-item
                                        a.header-navigation-sublist-item-link(href='/') Email Marketing
                            li.header-navigation-list-item
                                a.header-navigation-list-item-link(href='/') Our Prices
                    .header-hamburger
                        img.header-hamburger-img(src='./img/HamburgerOff.svg' alt='Logo')

